{% extends "landing_base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}


{% block content %}
    <h2>Soummettre un nouveau projet</h2>
    <p class="alert alert-info">
        Il est possible que vous soyez contacté durant la phase de validation de votre projet afin de clarifier certains points de celui-ci.
    </p>
    <form enctype="multipart/form-data" method="post">{% csrf_token%}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">Enregistrer</button>
            <button type="reset" class="btn btn-danger">Réinitialiser</button>
        {% endbuttons %}
    </form>
{% endblock %}