{% extends "landing_base.html" %}

{% block title %}CDVU | Détail du projet{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-8">
            <h1>
                {{project.name}}
            </h1>
        </div>
        <div class="col-sm-4">
            <div class="dropdown pull-right">
                <button class="btn btn-primary" type="button" id="dropdownMenuProject" data-toggle="dropdown">
                    Administrer le projet
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuProject">
                    {% if user.is_staff %}
                        {% if status_id == 0 or status_id == 2 %}
                        <li>
                            <a data-toggle="modal" data-target="#AcceptModal">
                                <i class="fa fa-check"></i> Accepter le projet
                            </a>
                        </li>
                        {% endif %}
                        {% if status_id == 0 or status_id == 1 %}
                        <li>
                            <a data-toggle="modal" data-target="#RefuseModal">
                                <i class="fa fa-times"></i>  Refuser le projet
                            </a>
                        </li>
                        {% endif %}
                    {% endif %}
                    <li>
                        <a href='{% url "projects:project_update" project.id %}'>
                            <i class="fa fa-edit"></i> Modifier
                        </a>
                    </li>
                    <li>
                        <a href='{% url "projects:project_delete" project.id %}' >
                            <i class="fa fa-trash"> Supprimer</i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-6">
            <strong>Porteur du projet :</strong> {{project.author_name}}<br>
            {% if project.author_website %}
            <strong>Site web :</strong> <a href="{{project.author_website}}">{{project.author_website}}</a><br>
            {% endif %}
            <strong>À propos :</strong> {{project.author_description}}<br>
        </div>
        <div class="col-sm-6">
            <strong>Nombre d'étudiant impacté :</strong> {{project.number_affected_by}}<br>
            <strong>Temps nécessaire :</strong> {{project.completion_time}}<br>
            <strong>Date de soumission :</strong> {{project.date_of_submission}}<br>
            <strong>Status :</strong> {{project.status}}
        </div>
    </div>
    <hr>
    <div class="row" id="project">
        <div class="col-sm-12">
            <h2>Description :</h2>
            <p class="text-justify">{{project.description}}</p>

            <h2>Justification :</h2>
            <p class="text-justify">{{project.justification}}</p>
        </div>
    </div>

    <div class="row" id="sub-project">
        <div class="col-sm-12">
            <a class="btn btn-success pull-right" href='{% url "projects:subproject_create" project.id %}' role="button" >Ajouter sous-projet</a>
            <h2>Sous-projets : </h2>
            {% if project.SubProject.all.count %}
                {% for subProject in project.SubProject.all %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            {{ subProject.name }}
                            <span class="pull-right">
                                <a class="btn-xs btn-warning" href='{% url "projects:subproject_update" subProject.id %}' role="button" ><i class="fa fa-pencil"></i></a>
                                <a class="btn-xs btn-danger" href='{% url "projects:subproject_delete" subProject.id %}' role="button" ><i class="fa fa-trash"></i></a>
                            </span>
                        </h4>
                    </div>
                    <div class="panel-body">
                        <strong>Temps nécessaire :</strong> {{ subProject.completion_time }}<br>
                        <strong>Montant :</strong> {{ subProject.minimum_amount }} - {{ subProject.maximum_amount }}<br>
                        <br>
                        <p>
                            {{ subProject.description }}
                        </p>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <div class="alert alert-danger">
                    Vous n'avez aucun sous-projet pour le moment, vous pouvez en créer un sur la <a href='{% url "projects:subproject_create" project.id%}'>page de création de sous-projets</a>.
                </div>
            {% endif %}
        </div>
    </div>

    <!-----------
    --- MODAL ---
    ------------>

    <!-- Accept modal -->
    <div class="modal fade" id="AcceptModal" tabindex="-1" role="dialog" aria-labelledby="acceptlLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="acceptlLabel">Accepter le projet</h4>
          </div>
          <div class="modal-body">
            Êtes-vous sûr de vouloir <span class="text-success"><strong>accepter</strong></span> le projet <strong>{{project.name}}</strong>?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
            <a class="btn btn-success" href='{% url "projects:project_accept" project.id %}' >Accepté le projet</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Refuse Modal -->
    <div class="modal fade" id="RefuseModal" tabindex="-1" role="dialog" aria-labelledby="refuseLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="refuseLabel">Rejeter le projet</h4>
          </div>
          <div class="modal-body">
            Êtes-vous sûr de vouloir <span class="text-danger"><strong>rejeter</strong></span> le projet <strong>{{project.name}}</strong>?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
            <a class="btn btn-warning" href='{% url "projects:project_refuse" project.id %}'>Rejeter le projet</a>
          </div>
        </div>
      </div>
    </div>
{% endblock %}