{% extends "landing_base.html" %}

{% block extrajs %}

{% endblock %}

{% block content %}
    <h1>{{project.name}}</h1>
    <hr>
    <div class="row">
        <div class="col-sm-6">
            <strong>Porteur du projet :</strong> {{project.author_name}}<br>
            {% if project.author_website %}
            <strong>Site web :</strong> <a href="{{project.author_website}}">{{project.author_website}}</a><br>
            {% endif %}
            <strong>À propos :</strong> {{project.author_description}}<br>
        </div>
        <div class="col-sm-6">
            <strong>Nombre d'étudiant impacté :</strong> {{project.number_affected_by}}<br>
            <strong>Temps nécessaire :</strong> {{project.completion_time}}<br>
            <strong>Date de soumission :</strong> {{project.date_of_submission}}<br>
            <strong>Status :</strong> {{project.status}}
        </div>
    </div>
    <hr>
    <div class="row" id="project">
        <div class="col-sm-12">
            <h2>Description :</h2>
            <p class="text-justify">{{project.description}}</p>

            <h2>Justification :</h2>
            <p class="text-justify">{{project.justification}}</p>
        </div>
    </div>

    <div class="row" id="sub-project">
        <div class="col-sm-12">
            <div id="accordion" class="panel-group">
                {% for subProject in project.SubProject.all %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ subProject.id }}">
                                {{ subProject.name }}
                            </a>
                        </h4>
                    </div>
                    <div id="collapse{{ subProject.id }}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <strong>Temps nécessaire :</strong> {{ subProject.completion_time }}<br>
                            <strong>Montant :</strong> {{ subProject.minimum_amount }} - {{ subProject.maximum_amount }}<br>
                            <br>
                            <p>
                                {{ subProject.description }}
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}