{% extends "landing_base.html" %}

{% block extrajs %}

{% endblock %}

{% block content %}
    <div class="row">
        <p>
            <strong>Êtes-vous sûr de vouloir supprimer le projet "{{project.name}}" ? </strong>
        </p>

        <form method="post" action="">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit" >Oui</button>
            <a class="btn btn-warning" href='{% url "projects:project_detail" project.id %}'>Non</a>
        </form>
    </div>
{% endblock %}