{% extends "landing_base.html" %}

{% block title %}CDVU | Supprimer sous-projet{% endblock %}

{% block content %}
    <div class="row">
        <p>
            <strong>Êtes-vous sûr de vouloir supprimer le sous-projet "{{subProject.name}}" du projet "{{subProject.project}}" ? </strong>
        </p>

        <form method="post" action="">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit" >Oui</button>
            <a class="btn btn-warning" href='{% url "projects:project_detail" subProject.project.id %}'>Non</a>
        </form>
    </div>
{% endblock %}