{% extends "landing_base.html" %}

{% block title %}CDVU | Système de vote{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h2>Système de vote</h2>
            </div>
            <div class="col-sm-12">
                {% if votes%}
                    {% for vote in votes %}
                        <div class="panel panel-default">
                            <div class="panel-heading panel-heading-large">
                                <h4>Ce vote est actuellement en cours!</h4>
                            </div>
                            <div class="panel-body">
                                <p><strong>Date de début:</strong><br> {{vote.0.start_date}}</p>
                                <p><strong>Date de fin:</strong><br> {{vote.0.end_date}}</p>
                                <p><strong>Budget soumis au vote:</strong><br> {{vote.0.amount}}$</p>
                                <p><strong>Nombre de projet:</strong><br> {{vote.0.projects.all.count}}</p>

                                {% if vote.1 %}
                                    <p class="text-info pull-right">Vous avez déja voté</p>
                                {% else %}
                                    <a class="btn btn-success pull-right" href="{% url 'votes:form' vote.0.id %}">Accèder au vote</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="alert alert-info">
                        <h4>Pas de votes pour le moment.</h4>
                        Cependant, nous vous invitons à rester informer pour ne pas rater le suivant.
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}