{% extends "landing_base.html" %}

{% block title %}CDVU | Système de vote{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h2>Système de vote</h2>
            </div>
            <div class="col-sm-4">
                {% if votes%}
                    {% for vote in votes %}
                        <div class="panel panel-default">
                            <div class="panel-heading panel-heading-large">
                                <h4>Ce vote est actuellement en cours!</h4>
                            </div>
                            <div class="panel-body">
                                <p><strong>Date de début:</strong><br> {{vote.0.start_date}}</p>
                                <p><strong>Date de fin:</strong><br> {{vote.0.end_date}}</p>
                                <p><strong>Budget soumis au vote:</strong><br> {{vote.0.amount}}$</p>
                                <p><strong>Nombre de projet:</strong><br> {{vote.0.projects.all.count}}</p>

                                {% if vote.1 %}
                                    <p class="text-info pull-right">Vous avez déja voté</p>
                                {% else %}
                                    <a class="btn btn-success pull-right" href="{% url 'votes:form' vote.0.id %}">Accèder au vote</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="alert alert-info text-justify">
                        <h4>Il n'y a pas de vote pour le moment.</h4>
                        Cependant nous vous invitons a rester informer pour ne pas rater le suivant.
                    </div>
                {% endif %}
            </div>
            <div class="col-sm-8">
                <div class="alert alert-warning">
                    En soumettant un vote sur notre système de vote, vous daignez avoir connaissance des points suivants et les accepter.
                </div>

                <h4>Détails légaux</h4>

                <p class="text-justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et pulvinar elit. Donec porttitor scelerisque tellus. Ut ornare vulputate justo, ac gravida nulla posuere ut. Curabitur sed turpis at risus ultricies auctor. Curabitur vel lacus vestibulum, vulputate erat sit amet, gravida magna. Etiam viverra condimentum tortor a condimentum. Etiam nec lacinia purus. Sed porta malesuada magna eu varius. Vestibulum efficitur sollicitudin nulla, a sodales risus congue et. Integer eu lectus sed odio venenatis convallis. Maecenas sit amet pellentesque arcu, eget faucibus odio. Cras in porttitor quam, ac consectetur lacus.
                </p>
                <p class="text-justify">
                    Vivamus porta commodo odio, a finibus purus faucibus in. Nunc eget gravida nibh. Nulla hendrerit ex nec sem dignissim lobortis. Curabitur ante velit, imperdiet ac iaculis sit amet, molestie ac ligula. Aenean ornare est at arcu ultricies ultricies. Aenean vestibulum mi quis massa egestas cursus. Morbi volutpat nunc ut diam vestibulum aliquam. Suspendisse ultricies ipsum neque, et aliquam arcu viverra sed. Donec placerat diam vitae tempor pharetra. Praesent et rhoncus arcu. Phasellus ac ipsum rhoncus, semper sapien eu, tincidunt felis. Vivamus accumsan sagittis augue, ornare tempor augue vulputate eu. Praesent at ligula aliquam, mollis mi nec, tempus urna. Etiam eu vestibulum lectus, sit amet pulvinar lorem. Nullam ornare est leo, ut luctus eros tempus nec. Pellentesque pulvinar dictum nibh, malesuada pretium metus tempor at.
                </p>
                <p class="text-justify">
                    Donec et bibendum dui. Integer blandit, dui a molestie fermentum, velit ipsum congue elit, blandit dignissim mi magna ac metus. Praesent placerat elit et tortor ultricies egestas. Nulla fringilla ultricies ipsum quis gravida. Sed eu libero diam. Sed non leo vel purus gravida pulvinar. Nam maximus libero a est gravida pellentesque. Nunc bibendum laoreet lectus, porttitor faucibus urna lacinia aliquam.
                </p>
                <p class="text-justify">
                    Sed aliquam sem vel eros eleifend, vitae molestie magna consequat. Duis consequat tortor sed ante mattis, at tincidunt purus bibendum. Pellentesque at magna neque. Sed vitae pellentesque libero. Cras ullamcorper, lacus nec tristique rutrum, nunc sapien lobortis magna, sit amet tristique diam urna id lectus. Etiam felis orci, luctus et libero at, aliquam mollis tellus. Praesent risus nibh, vulputate id lorem at, semper dapibus tellus. Maecenas vel est eget risus viverra tempus vitae sed lorem. Morbi justo arcu, placerat quis elementum in, eleifend vel erat. Fusce tempus vulputate tristique. Pellentesque justo erat, sagittis vitae placerat a, tempus ut metus. Nulla pretium dui ac lectus luctus, eget rhoncus ante euismod. Curabitur lacinia mauris non lacus porttitor, ac ultrices tortor egestas. Aenean sagittis turpis metus, vitae volutpat nibh viverra sed. Fusce magna lectus, porttitor rutrum tellus id, fermentum efficitur neque.
                </p>
                <p class="text-justify">
                    Duis eget nulla a massa commodo dignissim. Vestibulum eget tellus vel ex vulputate placerat at eget sem. Curabitur pharetra maximus metus, a posuere lectus lacinia at. Vestibulum libero enim, condimentum eu est id, viverra lobortis nibh. Pellentesque consequat ornare congue. Sed sed convallis ipsum. Donec faucibus est neque, laoreet tempor sem varius ac. Nulla pretium eros ac nisl tincidunt, eu consequat massa tincidunt. Aenean consequat aliquet luctus. Nunc arcu ex, convallis cursus magna in, feugiat fringilla dolor.
                </p>
            </div>
        </div>
    </div>
{% endblock %}