{% extends "landing_base.html" %}
<!-- Load internationalisation utils-->
{% load i18n %}
{% block title %}CDVU | Mission{% endblock %}

{% block content %}
    <div class="row">
        <div class="page-header">
            <h2>À propos</h2>
        </div>
        <div class="col-sm-12">
            <p class="text-justify">L’objectif de se doter d’une plateforme de budget participatif c’est de permettre de se doter d’une organisation plus ouverte et transparente. Inviter les étudiants à être un acteur de changement de leur campus et ainsi permettre aux membres de prendre part aux décisions financières quant aux investissements de l’association étudiante.</p>

            <p class="text-justify">Tout d’abords, la plateforme de dépôt de projet permet a n’importe quels étudiants de <dfn title="voir critère d’admissibilité">proposer un projet</dfn> <sup><a href="#link-1">(1)</a></sup> pour lequel il souhaite obtenir du financement. Il suffit alors de remplir le formulaire et de soumettre son projet.</p>

            <p class="text-justify">En suite, le Comité du développement de la vie universitaire composé de 7 membres vont analyser l'admissibilité de la demande. Si le projet est approuvé, il pourra être soumis au vote.</p>

            <p class="text-justify">Puis, tous les étudiants membres de l’association seront invités à exprimer leur voix quant aux projets qu’ils souhaitent voir financer. Contraint de devoir respecter un budget, chacun des membres doit décider de financer ou non un projet et décider combien y investir.</p>

            <p class="text-justify">Finalement, une fois la période de vote terminé, tout les votes seront colligé et analysé pour déterminé le montant alloué aux différents projets.</p>

            <br>

            <p class="text-justify" id="link-1"><sup>(1)</sup> voir critère d’admissibilité</p>
            </p>
        </div>
    </div>
{% endblock %}