{% extends "landing_base.html" %}
<!-- Load internationalisation utils-->
{% load i18n %}
{% block title %}CDVU | Réglement{% endblock %}

{% block content %}
    <div class="row">
        <div class="page-header">
            <h2>Règlement</h2>
        </div>
        <p>Critère d’admissibilité des projets :</p>
        <ul>
            <li>Achat d’éléments durables et à bénéfice continu</li>
            <li>Création de nouveaux services ou qui bonifie l’offre de services offerts par l’AEETS</li>
            <li>Réalisation de projets d’envergure, durables et fédérateurs</li>
            <li>Le projet doit maximiser le nombre de membres directement touché. Favorise la population étudiante et non un groupe restreins.</li>
        </ul>
        <p>Sans s’y limiter, les projets suivants ne sont pas admissibles :</p>
        <ul>
            <li>Tout projet ponctuel</li>
            <li>Tout projet incomplet</li>
            <li>Tout projet n’étant pas accompagné d’un budget ni de plan de réalisation</li>
            <li>Tout projet ne correspondant pas à la mission du comité</li>
        </ul>
    </div>
{% endblock %}