{% extends "landing_base.html" %}
<!-- Load internationalisation utils-->
{% load i18n %}
{% load bootstrap3 %}

{% block title %}
    {% if not user.username %}
        CDVU | Home
    {% else %}
        CDVU | À propos
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-7">
            {% if not user.username %}
            <div class="page-header">
                <h2>Mission</h2>
            </div>
            <p class="text-justify">Le Comité du développement de la vie universitaire vise à améliorer la vie étudiante à l’École. Le comité a pour mission de proposer des projets à l’Association afin d’affecter ses surplus budgétaires. Le comité doit favoriser la concertation étudiante quant à ces projets ou à tout autres projet concernant la vie étudiante à l’École. Le Comité du développement de la vie universitaire siège sur le Comité de concertation à la vie étudiante de l’École.</p>
            {% else %}
            <div class="page-header">
                <h2>À propos</h2>
            </div>
                <p class="text-justify">L’objectif de se doter d’une plateforme de budget participatif c’est de permettre de se doter d’une organisation plus ouverte et transparente. Inviter les étudiants à être un acteur de changement de leur campus et ainsi permettre aux membres de prendre part aux décisions financières quant aux investissements de l’association étudiante.</p>

                <p class="text-justify">Tout d’abords, la plateforme de dépôt de projet permet a n’importe quels étudiants de <dfn title="voir critère d’admissibilité">proposer un projet</dfn> <sup><a href="#link-1">(1)</a></sup> pour lequel il souhaite obtenir du financement. Il suffit alors de remplir le formulaire et de soumettre son projet.</p>

                <p class="text-justify">En suite, le Comité du développement de la vie universitaire composé de 7 membres vont analyser l'admissibilité de la demande. Si le projet est approuvé, il pourra être soumis au vote.</p>

                <p class="text-justify">Puis, tous les étudiants membres de l’association seront invités à exprimer leur voix quant aux projets qu’ils souhaitent voir financer. Contraint de devoir respecter un budget, chacun des membres doit décider de financer ou non un projet et décider combien y investir.</p>

                <p class="text-justify">Finalement, une fois la période de vote terminé, tout les votes seront colligé et analysé pour déterminé le montant alloué aux différents projets.</p>

                <br>

                <p class="text-justify" id="link-1"><sup>(1)</sup> voir critère d’admissibilité</p>
            {% endif %}
        </div>
        <div class="col-sm-4 col-sm-offset-1">
            {% if not user.username %}
            <div class="page-header">
                <h1>Connexion : </h1>
            </div>
            <form method="post" action='{% url "pages:home" %}'>{% csrf_token%}
                <div class="form-group">
                    <label class="control-label" for="id_username">Courriel étudiant</label>
                    <input class="form-control" id="id_username" maxlength="254" name="username" placeholder="prénom.nom.2@ens.etsmtl.ca" required="required" title="" type="text" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="id_password">Password</label>
                    <input class="form-control" id="id_password" name="password" placeholder="Password" required="required" title="" type="password" />
                </div>

                <input type="hidden" name="next" value="{{ next }}"/>
                <button type="submit" class="btn btn-primary">Connexion</button> ou <a href="{% url 'pages:register'%}">s'inscrire</a>
            </form>
            {% else %}
            <div class="page-header">
                <h2>Le saviez-vous ?</h2>
            </div>
            <div class="text-justify">
                <p>
                    Cette plateforme est développée sous licence <em>GNU General Public License</em>. Vous avez donc la possibilité de vous assurer de l’anonymat que nous vous offrons lorsque vous votez sur notre plateforme.
                </p>
                <p>
                    Cette licence vous donne aussi la possibilité de contribuer librement à l'amélioration de cet outil afin de nous aider à répondre aux mieux à vos attentes.
                </p>
                <p>
                    Vous pouvez retrouver toutes les informations concernant le projet sur
                    <a href="https://github.com/CDVU/plateforme-de-vote-budgetaire">
                        sa page github.
                    </a>
                </p>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}