{% extends "landing_base.html" %}
<!-- Load internationalisation utils-->
{% load i18n %}
{% load bootstrap3 %}

{% block title %}
    {% if not user.username %}
        CDVU | Home
    {% else %}
        CDVU | Règlement
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-7">
            {% if not user.username %}
            <div class="page-header">
                <h2>Mission</h2>
            </div>
            <p class="text-justify">Le Comité du développement de la vie universitaire vise à améliorer la vie étudiante à l’École. Le comité a pour mission de proposer des projets à l’Association afin d’affecter ses surplus budgétaires. Le comité doit favoriser la concertation étudiante quant à ces projets ou à tout autres projet concernant la vie étudiante à l’École. Le Comité du développement de la vie universitaire siège sur le Comité de concertation à la vie étudiante de l’École.</p>
            {% else %}
            <div class="page-header">
                <h2>Règlement</h2>
            </div>
            <p>Critère d’admissibilité des projets :</p>
            <ul>
                <li>Achat d’éléments durables et à bénéfice continu</li>
                <li>Création de nouveaux services ou qui bonifie l’offre de services offerts par l’AEETS</li>
                <li>Réalisation de projets d’envergure, durables et fédérateurs</li>
                <li>Le projet doit maximiser le nombre de membres directement touché. Favorise la population étudiante et non un groupe restreins.</li>
            </ul>
            <p>Sans s’y limiter, les projets suivants ne sont pas admissibles :</p>
            <ul>
                <li>Tout projet ponctuel</li>
                <li>Tout projet incomplet</li>
                <li>Tout projet n’étant pas accompagné d’un budget ni de plan de réalisation</li>
                <li>Tout projet ne correspondant pas à la mission du comité</li>
            </ul>
            {% endif %}
        </div>
        <div class="col-sm-4 col-sm-offset-1">
            {% if not user.username %}
            <div class="page-header">
                <h1>Connexion : </h1>
            </div>
            <form method="post" action='{% url "pages:home" %}'>{% csrf_token%}
                <div class="form-group">
                    <label class="control-label" for="id_username">Courriel étudiant</label>
                    <input class="form-control" id="id_username" maxlength="254" name="username" placeholder="prénom.nom.2@ens.etsmtl.ca" required="required" title="" type="text" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="id_password">Password</label>
                    <input class="form-control" id="id_password" name="password" placeholder="Password" required="required" title="" type="password" />
                </div>

                <input type="hidden" name="next" value="{{ next }}"/>
                <button type="submit" class="btn btn-primary">Connexion</button> ou <a href="{% url 'pages:register'%}">s'inscrire</a>
            </form>
            {% else %}
            <div class="page-header">
                <h2>Le saviez-vous ?</h2>
            </div>
            <div class="text-justify">
                <p>
                    Cette plateforme est développée sous licence <em>GNU General Public License</em>. Vous avez donc la possibilité de vous assurer de l’anonymat que nous vous offrons lorsque vous votez sur notre plateforme.
                </p>
                <p>
                    Cette licence vous donne aussi la possibilité de contribuer librement à l'amélioration de cet outil afin de nous aider à répondre aux mieux à vos attentes.
                </p>
                <p>
                    Vous pouvez retrouver toutes les informations concernant le projet sur
                    <a href="https://github.com/CDVU/plateforme-de-vote-budgetaire">
                        sa page github.
                    </a>
                </p>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}